name: Test
# Test starter project and notebooks

on:
  push:
    branches:
      - master
  schedule:
    # run weekly
    - cron: '0 10 * * 4'
  # needed to trigger the workflow manually
  workflow_dispatch:
  pull_request:

jobs:
  test:
    name: Build and Test (${{ matrix.config.stormpyImg }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config:
          - {stormpyImg: "stable-debug"}
          - {stormpyImg: "stable"}
          - {stormpyImg: "ci-debug"}
          - {stormpyImg: "ci"}
    steps:
      - name: Git clone
        uses: actions/checkout@v6
      - name: Build from Dockerfile
        run: docker build -t stormchecker/stormpy-starter . --build-arg STORMPY_BASE=movesrwth/stormpy:${{ matrix.config.stormpyImg }}
      - name: Run Docker
        run: docker run -d -it --name ci -p 8888:8888 stormchecker/stormpy-starter
      - name: Run tests
        run: |
          docker exec ci bash -c "pip install .[test]; pytest"
      - name: Run notebook
        run: docker exec ci bash -c "pip install papermill && papermill stormpy_starter.ipynb"
